body{
    background-color: black;

}
.header{
    background-color: cadetblue;
    margin-top: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
}

.myPhoto{
    margin-right: 30px;
    margin-top: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.name{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.name h3{
    margin: 0px;
}
.name span{
    margin: 0px;
}
.main-content{
    color: white;
    
}
.projects{
    display:flex;
    overflow-x: 'scroll';
    flex-flow: 'column' ;
    width: 100vw;
    overflow-y: 'hidden';   
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    padding: 0;
    height:300px;
    width: 300px;

}
.card-image{
    margin-bottom: 0px;
    height:100px;
    width:300px;
    background-size:cover;
    background-repeat: no-repeat;
}
.content{
    margin-top: 0;
    height: 200px;
    width: 100%;
    background-color: white;
}